 /* Google fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Kaisei+Decol&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

 
/* Shared Styles*/


 * {
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Kaisei Decol', serif;
    font-family: 'Work Sans', sans-serif;
 }

 .btn_primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
 }
 
 

 /* Navbar Styles */

 /*Left Navbar section*/
 nav {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;
    margin-bottom: 20px;
 }

 .nav_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
 }

 .nav_left img {
    margin-right: 15px;
 }

 .nav_icon {
    font-size: 2.5rem;
    font-weight: 700;
    
 }
 .nav_icon span {
    color: #F948B2;
 }

 /*Right Navbar section*/

 .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }

 .nav_right>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav_right li {
    list-style-type: none;
 }
 .nav_right a {
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
 }

 .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    margin-right: 30px;
 }

 .button button {
    margin-right: 10px;
    border: 0;
    background: 0;
 }

 .button img {
    margin-right: 10px;
 }

/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    nav {
        flex-direction: column;
        align-items: center;
        height: 280px;
    }

    .nav_right {
        flex-direction: column;
    }

    .nav_right>ul {
        flex-direction: column;
        
    }

    .nav_right li {
        margin: 10px;
    }
    .button {
        margin-right:-40px ;
        
    }    
     

}

/*==================================
 Responsive Navbar Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) {

    nav {
        flex-wrap: wrap;
        
    }

    .nav_left {
        margin-left: 5%;
        width: 30%;
    }
    .nav_right {
        width: 60%;
        margin-right: 5%;
    }

  

    .nav_right li {
        margin: 10px;
    }
    .button {
        margin-right:-40px ;
        
    }
    .nav_right a {
        font-size: 1rem;
     }
}

/*==================
    Main Header
=====================*/
.container_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 20px 150px;
    height: 650px;
}

.container {

}

.container h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container h1 {
    text-align: center;
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons_wrapper {
    
}

.icons{
    display: flex;
}
.icons img {
    margin-right: 10px;
}

.icons p{
    color: #534C64;
    font-size: 1.4rem;
    text-transform: lowercase;
}

.button_wrapper {
    display: inline-flex;
    padding: 21px 4px;
    align-items: flex-start;
    gap: 10px; 
}
.btn_primary_right {
    border-radius: 48px;
    background: #4EC5F7;
}

/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    .container_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        margin: 10px;
    }
    .img_last {
        margin-left: 50px;
    }
}

/*==================================
 Responsive Play Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) { 

    .button_wrapper {
        padding: 21px 24px;
    }
    .container_wrapper {
        margin: 10px 100px 20px 150px;

    }
}

/*======================
    Online Game Section
========================*/
.main_wrapper {

}
.main_title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.main_title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_description {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.box_wrapper {
    display: flex; 
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 50px;
    min-width: 70%;
    flex-wrap: wrap;
}

.box {
    margin-right: 10px;
    width: 15%;
    position: relative;
    display: inline-block;

}
.box img {
    width: 300px;
}

.box :hover {
    cursor: pointer;
    width: 350px;
    
}

.box :hover {
    cursor: pointer;
    background-color: #3C354F;
    opacity: 1;
}
.box:hover::after {
  
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-image: url(img/play-line.svg);

}


/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 

@media screen and (min-width: 768px) and (max-width: 1024px) { 
   .box {
    width: 32%;

   }
    .box img {
        width: 210px;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px) { 
    .box_wrapper {
     flex-wrap: wrap;
    }
    .box img {
        width: 150px;
    }
}

@media screen and (max-width: 425px) {
    .main_wrapper {
        margin-top: 750px;
    }
    .box_wrapper {
        flex-direction: column;
        min-width: 5%;
    }
    .box {
       width: 100%;
       margin-left: 40px;
    }
  
 }

 /*
    Play Instantly Section
 */
 .play_wrapper {
    display: flex;
    margin: 100px 150px 150px 100px;

 }
 .left_play_section {
    margin-right: 100px;
    margin-top: 100px;
 }
.left_play_section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}
.left_play_section h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play_description {
    color: #534C64;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 30px; 
}

.right_play_section {

}

.right_play_section img {
    
}

.first_img {
    width: 600px;
    height: 500px;
    margin-left: 150px;
}
.second_img {
    margin-top: -300px;
    margin-right: 250px;
}

/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    .play_wrapper {
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .left_play_section {
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 150px;
    }
}

/*==================================
 Responsive Play Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) { 
    .play_wrapper {
        flex-direction: column;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .left_play_section {
        margin: 0 auto;
        margin-bottom: 50px;
        margin-left: 50px;
    }
   
}

/*Features Section*/
.features_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 50px 100px 50px;
    flex-wrap: wrap;
}
.feature {
    display: flex;
    border-radius: 50px;
    background: #f8f4f4;
    padding: 20px;
    width: 200px;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}
.feature:hover {
    cursor: pointer;
    border: 1px solid #F948B2;
    color: #F948B2;
    border-radius:50px;
}

.feature:active {
    border: 1px solid #F948B2;
    color: #F948B2;
    border-radius:50px;
}

.feature img{
    margin-right: 10px;
}
.feature h5{
    color: #0B0223;

}

/*==================================
 Responsive Features Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    .features_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 10px 10px 10px;
        flex-wrap: wrap;
    }
}
/*==================================
 Responsive Features Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) {
    .features_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px 20px 100px 20px;
    }
    .feature {
        margin-right: 5px;
    }
 }

/*Footer Section*/
.footer_wrapper {
    background: #0B0223;
    height: 600px;
}
.footer_icons {
    display: flex;
    align-items: center;
    margin-left: 10%;
    justify-content: center;

}
.footer_icons img {
    margin-right: 10px;
}
.footer_icons h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
}

.footer_icons h2 span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer_menu_01 {
    max-width: 960px;
    margin-left: 15%;
}
.footer_menu_01 > ul {
    display: flex;
    justify-content: space-between;
} 
.footer_menu_01 li {
    list-style-type: none;
}

.footer_menu_01 a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.footer_logos {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-left: 20%;
    margin-top: 50px;

}

.footer_logos img {
    width: 45px;
    color: #FFF;
    background: #FFF;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.footer_menu_02 {
    max-width: 980px;
    margin-left: 15%;
    margin-top: 70px;
}
.footer_menu_02 > ul {
    display: flex;
    justify-content: space-between;
} 
.footer_menu_02 li {
    list-style-type: none;
}

.footer_menu_02 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.footer_description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 60px;
}

/*==================================
 Responsive Footer Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
.footer_wrapper {
    height: 900px;
 }
.footer_menu_01 > ul {
    flex-direction: column;
}

.footer_menu_01 li{
    margin-top: 15px;
    margin-left: 25%;
}
.footer_logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer_logos img {
    margin-bottom: 15px;
}
.footer_menu_02 > ul {
    flex-direction: column;
}

.footer_menu_02 li{
    margin-top: 15px;
    margin-left: 10%;
}

}


/*==================================
 Responsive Footer Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) {
    .footer_wrapper {
        height: 900px;
     }
    .footer_menu_01 > ul {
        flex-direction: column;
    }
    
    .footer_menu_01 li{
        margin-top: 15px;
        margin-left: 25%;
    }
    .footer_logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer_logos img {
        margin-bottom: 15px;
    }
    .footer_menu_02 > ul {
        flex-direction: column;
    }
    
    .footer_menu_02 li{
        margin-top: 15px;
        margin-left: 10%;
    }
 }









