 /* Google fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Kaisei+Decol&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* Shared Styles*/


 * {
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Kaisei Decol', serif;
    font-family: 'Work Sans', sans-serif;
 }

 .btn_primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
 }
 
 

 /* Navbar Styles */

 /*Left Navbar section*/
 nav {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;
    margin-bottom: 20px;
 }

 .nav_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
 }

 .nav_left img {
    margin-right: 15px;
 }

 .nav_icon {
    font-size: 2.5rem;
    font-weight: 700;
    
 }
 .nav_icon span {
    color: #F948B2;
 }

 /*Right Navbar section*/

 .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }

 .nav_right>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav_right li {
    list-style-type: none;
 }
 .nav_right a {
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
 }

 .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    margin-right: 30px;
 }

 .button button {
    margin-right: 10px;
    border: 0;
    background: 0;
 }

 .button img {
    margin-right: 10px;
 }

/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    nav {
        flex-direction: column;
        align-items: center;
        height: 280px;
    }

    .nav_right {
        flex-direction: column;
    }

    .nav_right>ul {
        flex-direction: column;
        
    }

    .nav_right li {
        margin: 10px;
    }
    .button {
        margin-right:-40px ;
        
    }    
     

}

/*==================================
 Responsive Navbar Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) {

    nav {
        flex-wrap: wrap;
        
    }

    .nav_left {
        margin-left: 5%;
        width: 30%;
    }
    .nav_right {
        width: 60%;
        margin-right: 5%;
    }

  

    .nav_right li {
        margin: 10px;
    }
    .button {
        margin-right:-40px ;
        
    }
    .nav_right a {
        font-size: 1rem;
     }
}

/*==================
    Main Header
=====================*/
.container_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 20px 150px;
    height: 650px;
}

.container {

}

.container h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container h1 {
    text-align: center;
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons_wrapper {
    
}

.icons{
    display: flex;
}
.icons img {
    margin-right: 10px;
}

.icons p{
    color: #534C64;
    font-size: 1.4rem;
    text-transform: lowercase;
}

.button_wrapper {
    display: inline-flex;
    padding: 21px 4px;
    align-items: flex-start;
    gap: 10px; 
}
.btn_primary_right {
    border-radius: 48px;
    background: #4EC5F7;
}

/*==================================
 Responsive Navbar Section For Mobile
====================================*/
 
@media screen and (max-width: 425px) { 
    .container_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .container img {
        margin: 10px;
    }
    .img_last {
        margin-left: 50px;
    }
}

/*==================================
 Responsive Play Section For Tablet
====================================*/

@media screen and (min-width: 425px) and (max-width: 768px) { 

    .button_wrapper {
        padding: 21px 24px;
    }
    .container_wrapper {
        margin: 10px 100px 20px 150px;

    }
}

/*======================
    Online Game Section
========================*/
.main_wrapper {

}
.main_title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.main_title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_description {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.box_wrapper {
    display: flex;
    justify-content: space-between;
    margin: ;
    margin-right: 150px;
    margin-left: 50px;
    min-width: 70%;
    flex-wrap: wrap;
}

.box {
    margin-right: 10px;
    width: 15%;

}
.box img {
    width: 300px;
}







